.modal-content {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    border: 1px solid #ced4da;
    font-size: 1rem;
}

.toggle-password {
    cursor: pointer;
}

.btn-success {
    background-color: #166534;
    border: none;
}

.btn-success:hover {
    background-color: #14502e;
}